@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Lato&display=swap');
@font-face {
    font-family: logo-font;
    src: url("./fontstyle/Norse-Bold.otf");
}

.container{
    display: flex;
}
.sideBar{
    position: relative;
   height: 100vh;
    width: 30vw;
}
.logo-section{
    display: flex ;
    color: rgb(248, 238, 184);
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20vh;
    background: black;
    width: 100%;
    height: 10vh;
    opacity: .6;
    padding: 10px 0px;
    font-family: logo-font;
    font-size: 9vh;

    


}

.bImg{
    position: relative;
    max-width: 100%;
    height: 100vh;
}
.logoText{
    flex-wrap: wrap;
}
.logoImg{
height: 10vh;
flex-wrap: wrap;

}

.formArea{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.row{

    display: flex;
    gap: 15px;
}
.column{
    display: flex;
    flex-direction: column;
}

.content{
    width: 60vw;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
    font-family: 'Lato', sans-serif;
}
.area1{
    width: 100%;
    height: 30vh;

}
.para1{
    padding-top: 7vw;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 25px;
    margin-bottom: 0px ;
}
.para2{
    margin-top: 0px;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 25px;
    margin-bottom: 0px ;
}
.para3{
    margin-top: 1rem;
    padding-top: 0px;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 25px;
    margin-bottom: 0px ;
}
.area2{
width: 100%;
height: 40vh;
}
.area3{
width: 100%;
height: 30vh;
}

.formArea{
    letter-spacing: 2px;
}