


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Lato&display=swap');
@font-face {
    font-family: logo-font;
    src: url("./fontstyle/Norse-Bold.otf");
}

.container{
    display: flex;
}
.sideBar{
    position: relative;
   height: 100vh;
    width: 30vw;
}
.logo-section{
    display: flex ;
    /* color: rgb(248, 238, 184); */
    color: white;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25vh;
    background: black;
    width: 100%;
    height: 10vh;
    opacity: .6;
    padding: 10px 0px;
    font-family: logo-font;
    font-size: 9vh;

    


}

.bImg{
    position: relative;
    max-width: 100%;
    height: 100vh;
}
.logoText{
    flex-wrap: wrap;
}
.logoImg{
height: 10vh;
flex-wrap: wrap;

}


.row{

    display: flex;
    gap: 10vw;
}
.column{
    display: flex;
    flex-direction: column;
}

.content{
    margin-top: 0px;
    width: 70vw;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: rgb(238, 238, 238);
}
.area1{
    margin-top: 0px;
    width: 70vw;
    height: 30vh;
    
}
.para1{
    padding-top: 7vw;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 3vw;
    margin-bottom: 0px ;
}
.para2{
    margin-top: 0px;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 3vw;
    margin-bottom: 0px ;
}
.para3{
    margin-top: 1rem;
    padding-top: 0px;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 3vw;
    margin-bottom: 0px ;
}
.area2{
width: 100%;
height: 40vh;
background-color: white;
box-shadow: 0px 0px 5px rgb(90, 89, 89);
}
.area2Para{
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 3vw;
    padding-top: 2vh;
    color: rgb(128, 94, 0);
}
.row1{
    padding-top: 2vh;
}

.formArea{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight:500;
    font-size: 1vw;
    padding-left: 3vw;
    gap: 4.5vh;
    letter-spacing: 2px;
}
input:focus,input:active{
    border: opx white;
    box-shadow: 0px 0px 5px blue;

}
input{
    height: 3vh;
    width: 18vw;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}
input:focus{
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0px 0px 5px blue;

}
input:invalid{
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0px 0px 5px red;
}

.area3{
width: 100%;
height: 5vh;
margin-bottom: 0px;
}
.btn{margin-top: 2vh;
    margin-left: 3vw;
   font-size: 1rem;
   border-radius: 5px;
   color: white;
   border: 0px;
   font-weight: bold;
   background-color: rgb(128, 94, 0);
    width: 20vh;
    height: 4vh;
}
.btn:hover{
    cursor: pointer;
}
.area3Para{
    padding-top: 2vh;
padding-left: 3vw;
font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: rgb(128,94,0);
    font-weight: bold;

}

